#main {
    text-align: center;
}

button {
    margin: 30px;
}
#container {
    display: grid;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    border: 2px solid black;
}
  
.grid-item {
    height: 100%;
    width: 100%;
    text-align: center;
}